.navbar {
    border-radius: 0;
    margin-bottom: 0;
}

.post-header {
    font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
    font-size: 72px;
    text-align: center;
    text-transform: none;
    padding-top: 100px;
}

.post {
    font-size: 20px;
}

.post img {
    max-width: 100%;
    max-height: 100%;
}

.post p {
    padding-top: 1em;
}