html {
  --blue-700: hsl(185, 100%, 18%);
  --blue-600: hsl(185, 90%, 27%);
  --blue-500: hsl(185, 83%, 39%);
  --blue-400: hsl(185, 73%, 51%);
  --blue-300: hsl(185, 85%, 72%);
  --blue-200: hsl(185, 93%, 88%);
  --blue-100: hsl(185, 100%, 98%);

  --gray-700: hsl(209, 15%, 18%);
  --gray-600: hsl(209, 12%, 27%);
  --gray-500: hsl(209, 12%, 39%);
  --gray-400: hsl(209, 12%, 51%);
  --gray-300: hsl(209, 12%, 72%);
  --gray-200: hsl(209, 10%, 88%);
  --gray-100: hsl(204, 45.5%, 97.8%);

  --pink-700: hsl(305, 100%, 18%);
  --pink-600: hsl(305, 76%, 32%);
  --pink-500: hsl(305, 53%, 54%);
  --pink-400: hsl(305, 55%, 72%);
  --pink-300: hsl(305, 61%, 84%);
  --pink-200: hsl(305, 78%, 92%);
  --pink-100: hsl(305, 100%, 98%);

  --space-xxs: 0.25rem;
  --space-xs: 0.5rem;
  --space-sm: 0.75rem;
  --space-md: 1.25rem;
  --space-lg: 2rem;
  --space-xl: 3.25rem;
  --space-xxl: 5.25rem;

  --shadow: 0 4px 8px 0 rgba(0,0,0,0.12), 0 2px 4px 0 rgba(0,0,0,0.08);

  --font-size-xs: 0.5rem;
  --font-size-sm: 0.75rem;
  --font-size-md: calc(1rem + 0.1vw);
  --font-size-lg: calc(1rem + 0.7vw);
  --font-size-xl: calc(1rem + 2vw);
  --font-size-xxl: calc(1rem + 4vw);

  --margin-bottom-with-grid: 0;

  font-family: 'Recursive', Arial, Helvetica, sans-serif;
  font-size: var(--font-size-md);
  color: var(--gray-700);

  --italic-font: 'CASL' 1, 'slnt' -9, 'ital' 1;
  font-variation-settings: 'CASL' 0, 'MONO' 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  min-height: 100vh;
}

p {
  line-height: 2rem;
  font-size: 1.25rem;
}

a {
  text-decoration: underline;
  text-decoration-color: var(--gray-200);
  color: #27cedd; /* IE11 Fallback */
  color: var(--blue-500);
  font-weight: 500;
}
a:hover {
  color: var(--pink-500);
}

.list {
  padding-left: var(--space-md);
  line-height: 1.5;
  margin-bottom: var(--space-md);
}

img {
  max-width: 100%;
}

section {
  padding: 1.25rem; /* IE11 Fallback */
  padding: var(--space-xl) var(--space-md);
}

.section-title {
  color: var(--blue-700);
  font-weight: 500;
  font-size: var(--font-size-xxl);
  margin-bottom: var(--space-lg);
}

.subsection-title {
  margin-top: var(--space-lg);
  margin-bottom: var(--space-xs);
}
.subsection-title + p {
  margin-top: var(--space-xs);
}

.container {
  max-width: 42rem;
  margin: auto;
}
.container--padding {
  padding: 0.5rem; /* IE11 Fallback */
  padding: var(--space-xs);
}
.container-wide {
  max-width: 60rem;
  margin: auto;
}

/* SYMMETRICAL TWO COLUMNS */
.two-columns {
  display: flex;
  flex-wrap: wrap;
  --margin: var(--space-xs);
  --multiplier: calc(40rem - 100%);
  margin: calc(-1 * var(--margin));
}
.two-columns > * {
  min-width: calc(50% - (var(--margin) * 2));
  max-width: 100%;
  flex-grow: 1;
  flex-basis: calc(var(--multiplier) * 999);
  margin: var(--margin);
}

/* ASYMMETRIC TWO COLUMNS */
.asymmetric-two-columns {
  display: flex;
  flex-wrap: wrap;
}
.asymmetric-two-columns__stay {
  flex-grow: 1;
}
.asymmetric-two-columns__grow {
  flex-grow: 999;
}
/* Remove when `gap: XXX;` is supported */
.asymmetric-two-columns--margin {
  --margin: var(--space-sm);
  margin: calc(-1 * var(--margin));
}
.asymmetric-two-columns--margin > * {
  margin: var(--margin);
}

/* LANDING PAGE */
.landing-page-layout {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.landing-page-layout > * {
  max-width: 45rem;
}
.landing-page-content {
  padding: var(--space-lg);
  background-color: var(--pink-100);
  box-shadow: var(--shadow);
  flex-basis: 20rem;
}

/* BACKGROUND */
.bg-pink {
  background-color: var(--pink-100);
}
.bg-pink a {
  color: var(--pink-600);
}
.bg-pink a:hover {
  color: var(--blue-600);
}
.bg-gray {
  background-color: var(--gray-100);
}
.bg-blue {
  background-color: var(--blue-100);
}

/* NAVBAR */
.navbar {
  display: flex;
  align-items: end;
}
.navbar__item {
  padding: 0.25rem 0; /* IE11 Fallback */
  padding: var(--space-xxs) 0;
  margin: 0.75rem; /* IE11 Fallback */
  margin: var(--space-sm);
  color: #58646f;
  color: var(--gray-500);
  font-variation-settings: var(--italic-font);
  text-decoration: none;
  border-bottom: 2px solid transparent;
}
.navbar__item:hover {
  border-color: var(--gray-200);
}

.page-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: var(--space-xs) calc(-1 * var(--space-xxs));
  font-variation-settings: var(--italic-font);
  grid-gap: var(--space-xs);
}
.page-nav > * {
  color: var(--gray-400);
  margin: 0 var(--space-xxs);
}

.image-container {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}
.profile-image {
  width: 100%;
  max-width: 15rem;
  box-shadow: var(--shadow);
}

.social-links {
  list-style: none;
  padding-left: 0;
  display: flex;
  grid-area: links;
  justify-content: center;
  margin-top: var(--space-lg);
  margin-bottom: 0;
}
.social-links > * {
  padding-right: 1.25rem; /* IE11 Fallback */
  padding-right: var(--space-md);
}

.text-colored {
  font-size: 1rem;
  color: var(--pink-600);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  font-variation-settings: 'MONO' 1;
}
.text-gray {
  color: var(--gray-400);
  font-weight: 500;
  font-size: var(--font-size-md);
  font-variation-settings: var(--italic-font);
}

h1 {
  margin-top: 0;
  font-size: var(--font-size-xl);
}
h1, h2, h3, h4, h5, h6 {
  line-height: 1.5;
  font-weight: 800;
  margin-bottom: var(--space-md);
}

dt {
  letter-spacing: 1px;
  color: var(--blue-700);
  font-weight: 500;
  font-variation-settings: var(--italic-font);
  line-height: 2;
}
dl {
  margin: 0;
}

dd {
  margin-left: 0;
  font-size: var(--font-size-md);
}
dd + dt {
  margin-top: var(--space-md);
}

.de-stijl {
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
}
.de-stijl > * {
  flex: 1 1 auto;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  justify-items: center;
  outline: 0.1rem solid;
  text-align: center;
  background-color: white;
  padding: var(--space-lg);
}
.de-stijl > *:nth-child(4n + 2) {
  background-color: var(--blue-100);
}
.de-stijl > *:nth-child(3n + 4) {
  background-color: var(--pink-100);
}

.de-stijl-complex {
  --bar-width: var(--space-sm);
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
}
.de-stijl-complex > * {
  flex: 1 1 auto;
  display: grid;
  grid-template-columns: [first-column] var(--bar-width) [content-start] 1fr [content-middle] 1fr [content-end] var(--bar-width) [last-column];
  grid-template-rows: repeat(12, auto) [last-line];
  align-items: center;
  justify-content: center;
  justify-items: center;
  outline: 0.1rem solid;
  text-align: center;
}
.de-stijl-complex > * > * {
  grid-column: content-start / content-end;
}
.de-stijl-complex > *::before {
  grid-row: -1;
  background-color: var(--gray-100);
}
.de-stijl-complex > *::after {
  grid-column: content-start / last-column;
  grid-row: -1;
  background-color: var(--gray-200);
}
.de-stijl-complex > * > * {
  padding: var(--space-xs) var(--space-md);
}
.de-stijl-complex > * > *:first-child {
  margin-top: var(--space-lg);
}
.de-stijl-complex > * > *:last-child {
  margin-bottom: var(--space-lg);
}
.de-stijl-complex > *::before, .de-stijl-complex > *::after {
  content: "";
  height: 100%;
  width: 100%;
  min-height: var(--bar-width);
  min-width: var(--bar-width);
  border: 0.1rem solid black;
  display: block;
}
.de-stijl-complex > *:nth-child(6n + 2)::before {
  grid-row: 2 / -1;
}
.de-stijl-complex > *:nth-child(6n + 2)::after {
  grid-row: auto / -1;
  grid-column-end: content-middle;
}
.de-stijl-complex > *:nth-child(6n + 3)::before {
  grid-row: 3 / -1;
  grid-column: content-end / last-column;
}
.de-stijl-complex > *:nth-child(6n + 3)::after {
  grid-row: auto / -1;
  grid-column: content-start / content-end;
}
.de-stijl-complex > *:nth-child(6n + 4)::before {
  grid-row: 1 / 2;
  grid-column: content-middle / content-end;
}
.de-stijl-complex > *:nth-child(6n + 4)::after {
  grid-row: 1 / 4;
  grid-column: content-end / last-column;
}
.de-stijl-complex > *:nth-child(6n + 5)::before {
  grid-row: 1 / 2;
  grid-column: content-middle / content-end;
}
.de-stijl-complex > *:nth-child(6n + 5)::after {
  grid-row: 1 / 2;
  grid-column: first-column / content-middle;
}
.de-stijl-complex > *:nth-child(6n + 6)::before {
  grid-row: 1 / 2;
  grid-column: first-column / content-end;
}
.de-stijl-complex > *:nth-child(6n + 6)::after {
  grid-row: 2 / -1;
  grid-column: first-column / content-start;
}
.de-stijl-complex > *:last-child::before {
  grid-row: 1 / 4;
  grid-column: first-column / content-start;
}
.de-stijl-complex > *:last-child::after {
  grid-row: 1 / 2;
  grid-column: content-start / content-middle;
}
.de-stijl-complex > *:nth-child(4n + 1)::after {
  background-color: var(--pink-600);
}
.de-stijl-complex > *:nth-child(5n + 2)::before {
  background-color: var(--blue-200);
}
.de-stijl-complex > *:nth-child(3n + 3)::before {
  background-color: var(--pink-300);
}
.de-stijl-complex > *:nth-child(5n + 3)::after {
  background-color: var(--blue-400);
}
.de-stijl-complex > *:nth-child(4n + 4)::before {
  background-color: var(--pink-100);
}

.talk h3 {
  margin: 0;
  font-size: var(--font-size-lg);
}
.talk .subtitle {
  font-variation-settings: var(--italic-font);
}
.talk .places, .talk .links {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 auto;
  justify-content: center;
}
.talk .places {
  flex-direction: column;
  text-transform: uppercase;
  font-size: var(--font-size-sm);
}
.talk li {
  margin: var(--space-xxs);
}
.slides {
  max-width: 20rem;
}

.icon {
  width: 24px;
  height: 24px;
  min-width: 24px;
  fill: var(--blue-700);
}
.icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-link > * {
  margin: calc(var(--space-xs) / 2);
}

.primary {
  fill: var(--gray-200);
}

.secondary {
  fill: var(--blue-700);
}

.podcast {
  margin-bottom: 3.25rem; /* For IE11, overridden w/ variable */
  margin-bottom: var(--margin-bottom-with-grid);
}
.podcast__title {
  text-align: center;
  margin-top: var(--space-md);
  flex-grow: 1;
  font-size: var(--font-size-lg);
}
.podcast__image {
  max-width: 8rem;
  border: var(--space-xxs) solid var(--gray-700);
}
.podcast__role {
  text-transform: uppercase;
  margin-bottom: var(--space-sm);
  color: var(--gray-400);
  text-align: center;
}
.podcast__date {
  text-transform: uppercase;
  margin-top: var(--space-sm);
  color: var(--gray-400);
}

.writing__description {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: var(--space-md);
}

.hoverable {
  cursor: pointer;
}

.post__title {
  margin: var(--space-xl) 0;
}
.post__meta {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
  font-size: var(--font-size-sm);
}
.post__meta .fa {
  font-size: 0.5rem;
  margin: 0 var(--space-xxs);
}

.post-link {
  display: flex;
  margin-bottom: 3.25rem; /* For IE11, overridden w/ variable */
  margin-bottom: var(--margin-bottom-with-grid);
}
.post-link__link {
  color: var(--gray-600);
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}
.post-link__image {
  width: 11rem;
  height: 11rem;
  overflow: hidden;
  background-color: var(--pink-300);
}
.post-link__image img {
  width: 100%;
}
.post-link__title {
  font-size: var(--font-size-lg);
  text-align: center;
}
.post-link__category, .post-link__meta {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300;
  font-size: var(--font-size-sm);
}
.post-link__meta {
  flex-grow: 1;
  align-items: flex-end;
}
.number {
  text-align: right;
}
table {
  background-color: white;
}
table th, td {
  padding: var(--space-xs) var(--space-sm);
}
table thead th {
  border-bottom: 2px solid var(--gray-600);
}

pre {
  background-color: white;
  padding: var(--space-md);
  font-size: var(--font-size-md);
  margin-left: calc(-1 * var(--space-md));
  margin-right: calc(-1 * var(--space-md));
  overflow: auto;
}
code .nt, code .nc, code .nd {
  color: var(--gray-400);
}
code .na, code .nl, code .py,
code {
  color: var(--pink-500);
}
code .s, code .n, code .nb {
  color: var(--blue-500);
}
.horizontal-scroll {
  overflow: auto;
  /* margin-top: var(--space-lg); */
}