---
layout: page
title: Blog
page-title: Sketchnotes & More
---

<ul>
    {% for post in site.posts %}
    <li>
        <a class="post-title" href="{{ post.url | prepend: site.baseurl}}">
            {{ post.categories | first | capitalize }}: {{ post.post-title }}
        </a>
        <div class="post-meta-info">
            Posted on: {{ post.date | date: '%B %d, %Y' }}
        </div>
        {% if post.thumbnail != null %}
            <img src="{{ post.thumbnail }}" alt="{{ post.post-title }} Thumbnail" />
        {% endif %}
    </li>
    {% endfor %}
</ul>
