<!-- Header -->
<header>
    <div class="header container">
    <nav class="navbar navbar-default">
        {% for page in site.pages %}
        {% if page.title %}
            <a class="navbar--page" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
        {% endif %}
        {% endfor %}
    </nav>
    
    <img class="img-responsive profile-image" src="/img/profile-medium.jpg" alt="">
    <!-- <ul class="social-links">
            <li>
                <a href="https://twitter.com/iamjoyclark"
                    class="btn-social btn-outline"><i
                        class="fa fa-fw fa-twitter"></i></a>
            </li>
            <li>
                <a href="https://github.com/joyclark"
                    class="btn-social btn-outline"><i
                        class="fa fa-fw fa-github"></i></a>
            </li>
            <li>
                <a href="https://de.linkedin.com/pub/joy-clark/92/407/496"
                    class="btn-social btn-outline"><i
                        class="fa fa-fw fa-linkedin"></i></a>
            </li>
        </ul> -->
    </div>
</header>
