<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="Joy Heron">

    {% feed_meta %}

    <title>{% if page.html-title %}{{ page.html-title }}{% else %}{{ site.title }}{% endif %}</title>
    <link href="{{ '/css/layout.css' | prepend: site.baseurl }}" rel="stylesheet">
    <link href="{{ '/css/squishable.css' | prepend: site.baseurl }}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ '/font-awesome/css/font-awesome.min.css' | prepend: site.baseurl }}"
          rel="stylesheet"
          type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,400,500,600" rel="stylesheet">

    <link rel="canonical"
          href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
</head>
