<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="{% if page.description %}{{page.description}}{% else %}{{ site.description }}{% endif %}">
    <meta name="author" content="Joy Heron">

    {% if page.image %}
        <meta name="twitter:card" value="summary_large_image">
    {% else %}
        <meta name="twitter:card" value="summary">
    {% endif %}
    <meta name="twitter:site" content="@iamjoyheron">
    {% if page.title %}
        <meta name="twitter:title" content="{{ page.title }}">
    {% endif %}
    {% if page.description %}
        <meta name="twitter:description" content="{{ page.description }}">
    {% endif %}
    <meta name="twitter:creator" content="@iamjoyheron">
    {% if page.image %}
        <meta name="twitter:image" content="{{ page.image | prepend: site.baseurl | prepend: site.url }}">
    {% endif %}

    {% if page.title %}
        <meta property="og:title" content="{{ page.title }}" />
    {% endif %}
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ page.url | prepend: site.baseurl | prepend: site.url }}" />
    {% if page.image %}
        <meta property="og:image" content="{{ page.image | prepend: site.baseurl | prepend: site.url }}" />
    {% endif %}
    {% if page.description %}
        <meta property="og:description" content="{{ page.description }}" />
    {% endif %}
    <meta property="og:site_name" content="Joy Heron" />

    {% feed_meta %}

    <title>
        {% if page.html-title %}
            {{ page.html-title }}
        {% elsif page.title %}
            {{ page.title }}
        {% else %}
            {{ site.title }}
        {% endif %}
    </title>
    <link href="{{ '/css/layout.css' | prepend: site.baseurl }}" rel="stylesheet">
    <link href="{{ '/css/squishable.css' | prepend: site.baseurl }}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ '/font-awesome/css/font-awesome.min.css' | prepend: site.baseurl }}"
          rel="stylesheet"
          type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap" rel="stylesheet">

    <link rel="canonical"
          href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-88890602-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-88890602-1');
    </script>
</head>
