<!DOCTYPE html>
<html lang="en">
    <!--This template is based on: http://startbootstrap.com/template-overviews/freelancer/ This file has been modified.-->
    {% include head.html %}

    <body id="page-top" class="default-layout">
        {% include nav.html %}

        <main>

            <div class="bg-pink">
                <div class="container">
                    <h1>{{ page.title }}</h1>
                </div>
            </div>
    
            <div class="container">
                {{ content }}
            </div>
    
            {% include footer.html %}
    
            {% include assets.html %}
            {% include icons.html %}
        </main>
    </body>
</html>
