<!DOCTYPE html>
<html lang="en">
    {% include head.html %}

    <body class="container landing-page-layout">
        {% include nav.html %}

        <div class="image-container">
            {% include img.html %}
        </div>
        
        <div class="content">
            <h1>
                <div class="text-colored">Hello, I'm</div>

                <div class="page-name">Joy Heron, a software developer</div>
            </h1>
            
            {{ content }}
        </div>
    </body>
</html>
